<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.CommentMapper">
    
    <resultMap id="BaseResultMap" type="com.blog.entity.Comment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="username" property="userName" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="findByArticleId" resultMap="BaseResultMap">
        SELECT c.id, c.article_id, c.user_id, c.content, c.created_at, u.username
        FROM comments c
        LEFT JOIN users u ON c.user_id = u.id
        WHERE c.article_id = #{articleId}
        ORDER BY c.created_at DESC
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments (article_id, user_id, content)
        VALUES (#{articleId}, #{userId}, #{content})
    </insert>
    
    <delete id="deleteById">
        DELETE FROM comments WHERE id = #{id}
    </delete>
    
    <delete id="deleteByArticleId">
        DELETE FROM comments WHERE article_id = #{articleId}
    </delete>
</mapper>